---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contributions">
  <main class="w-full flex flex-col gap-3 p-3">
    <h1 class="text-4xl text-center">Contributions</h1>
    <p class="text-1xl text-center">
      if you feel that this project is useful for you, you can contribute making
      a pull request: <a
        href="https://github.com/angeldarco/server-nodejs/pulls"
        target="_blank">here</a
      >
    </p>
  </main>
</Layout>
